<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662812718524-kjpedt9uklgu0nu2cka0a38m24dhgdlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662812718524-kjpedt9uklgu0nu2cka0a38m24dhgdlk</string>
	<key>API_KEY</key>
	<string>AIzaSyAIuhododOx9OquvhsTyDL6iBK4YZxq1yg</string>
	<key>GCM_SENDER_ID</key>
	<string>662812718524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edu.PriluxTec.TravelApp.Gor</string>
	<key>PROJECT_ID</key>
	<string>travelapp-17c1d</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-17c1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662812718524:ios:f725512d597492d2da67b9</string>
</dict>
</plist>